<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Post Message Demo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content-container">
      <div class="chat-container">
        <h3>Chat</h3>
        <div class="chat-messages" #chatMessagesContainer>
          <div *ngFor="let message of chatMessages" [ngClass]="{'message-to': message.direction === 'to', 'message-from': message.direction === 'from'}">
            <div class="message-content">{{ message.content }}</div>
            <div class="message-timestamp">{{ message.timestamp | date:'short' }}</div>
          </div>
        </div>
      </div>

      <div class="log-container">
        <h3>Log</h3>
        <div class="log-messages" #logMessagesContainer>
          <div *ngFor="let message of log" class="log-message">
            {{ message }}
          </div>
        </div>
      </div>
    </div>

    <div class="input-container">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="stringData" placeholder="Enter string data" (keyup.enter)="handleSendStringData($event)">
        <button mat-icon-button matSuffix (click)="handleSendStringData()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="bottom-controls">
      <button mat-raised-button color="primary" *ngIf="isParent" (click)="createWrapper(4201)">
        <mat-icon>refresh</mat-icon>
        Recreate Child
      </button>
      <div class="action-buttons">
        <button mat-icon-button matTooltip="Toggle Keyboard" (click)="handleOpenKeyboard()">
          <mat-icon>keyboard</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Dummy 1"><mat-icon>add</mat-icon></button>
        <button mat-icon-button matTooltip="Dummy 2"><mat-icon>remove</mat-icon></button>
        <button mat-icon-button matTooltip="Dummy 3"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button matTooltip="Dummy 4"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button matTooltip="Dummy 5"><mat-icon>settings</mat-icon></button>
      </div>
    </div>
  </mat-card-content>
</mat-card>